body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
  color: white;
}

/* Hero title */
h1 {
  font-size: 50px;
  font-weight: normal;
  margin-top: 40px;
}

/* Download links */
.download-link {
  display: block;
  margin: 20px 0 40px;
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
}

/* Phone image */
.phone-wrapper img {
  width: 300px;
  max-width: 90%;
}

/* Section title */
h2 {
  font-size: 42px;
  font-weight: 300;
  margin-top: 60px;
}

/* Description text */
.description {
  font-size: 21px;
  color: gray;
  max-width: 700px;
  margin: 20px auto 40px;
}

/* Landscape image */
.image-wrapper img {
  width: 100%;
  max-width: 900px;
}

/* Icon */
.icon-wrapper img {
  margin-top: 40px;
  width: 60px;
}

/* Footer */
footer {
  text-align: right;
  color: gray;
  font-size: 14px;
  margin: 40px 20px 20px;
}
